name: Test plugins

on:
  # schedule:
    # Run every 10 minutes, 2 minutes ahead of theme runs
    # - cron: '0,10,20,30,40,50 * * * *'
  workflow_dispatch:
    inputs:
      batch_size:
        type: number
        default: 100

permissions:
  contents: write

jobs:
  run-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/setup-test-environment/

      - name: Run plugin batch
        run: ./scripts/run-batch.sh --batch-size ${{ inputs.batch_size }} --plugins

